<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApp"
        tools:targetApi="tiramisu">
        <activity
            android:name=".StaffView.activity.activity_specificchat"
            android:exported="false" />
        <activity
            android:name=".StaffView.activity.activity_chat_board"
            android:exported="true">

        </activity>
        <activity
            android:name=".Login.EditProfile"
            android:enableOnBackInvokedCallback="true"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.ShoppingApp.NoActionBar" />
        <activity
            android:name=".Login.Register"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.ShoppingApp.NoActionBar"
            tools:targetApi="tiramisu" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".customerview.BottomNavigationCustomActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".StaffView.activity.activity_click_staff_check"
            android:exported="true" />
        <activity
            android:name=".Login.LoginActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ShoppingApp.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Login.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".StaffView.Home.home_page"
            android:exported="true" />
        <activity
            android:name=".StaffView.activity.activity_admin_control"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".StaffView.activity.activity_admin_detail"
            android:exported="true" />
        <activity
            android:name=".customerview.activity.CategoriesDetails"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.DoneActivity"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.ShoppingCart"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.ReViewer"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.BuyNow"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.SaveAddress"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.DeliveryAddress"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.NewCard"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.CheckOut"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.SearchingActivity"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".customerview.activity.TrendingActivity"
            android:exported="true" />
        <activity
            android:name=".StaffView.activity.activity_chat"
            android:exported="true"></activity>
        <activity
            android:name=".StaffView.activity.activity_List_Product_And_Item"
            android:exported="true" />
        <activity
            android:name=".StaffView.activity.activity_chartbar"
            android:exported="true" />
        <activity android:name=".StaffView.MyProduct.Activity.activity_MyProduct"
            android:exported="true"/>
        <activity android:name=".StaffView.MyOrder.Activity.activity_MyOrder"
            android:exported="true"/>
        <activity android:name=".StaffView.Categories.Activity.activity_categories"
            android:exported="true">
        </activity>
        <activity android:name=".StaffView.DetailProduct.Activity.activity_detail_product"
            android:exported="true"/>
        <activity android:name=".StaffView.Categories.Activity.activity_details_category"
            android:exported="true"/>
        <activity android:name=".StaffView.Categories.Activity.activity_add_new_category"
            android:exported="true"/>
        <activity android:name=".StaffView.Categories.Activity.activity_delete_categories"
            android:exported="true"/>
        <activity android:name=".StaffView.ViewShop.activity_viewshop"
            android:exported="true"/>
        <activity android:name=".Login.Successful"
            android:exported="true"/>
        <activity android:name=".StaffView.MyOrder.Activity.activity_details_order"
            android:exported="true"/>
        <activity android:name=".StaffView.Promotions.Activity.activity_promotions"
            android:exported="true"/>
        <activity android:name=".StaffView.Promotions.Activity.activity_add_new_promotions"
            android:exported="true"/>
    </application>

</manifest>