<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApp"
        tools:targetApi="31">
        <activity
            android:name=".ReViewer"
            android:exported="false" />
        <activity
            android:name=".ShoppingCart"
            android:exported="false" />
        <activity
            android:name=".BuyNow"
            android:exported="false" />
        <activity
            android:name=".NewAddress"
            android:exported="false" />
        <activity
            android:name=".SaveAddress"
            android:exported="false" />
        <activity
            android:name=".DeliveryAddress"
            android:exported="false" />
        <activity
            android:name=".NewCard"
            android:exported="false" />
        <activity
            android:name=".CheckOut"
            android:exported="false" />
        <activity
            android:name=".DetailProdcutActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavigationCustomActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>