<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApp"
        tools:targetApi="tiramisu">
        <activity
            android:name=".StaffView.MyProduct.Activity.activity_MyProduct"
            android:exported="true" />
        <activity
            android:name=".Login.EditProfile"
            android:enableOnBackInvokedCallback="true"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.ShoppingApp.NoActionBar" />
        <activity
            android:name=".Login.Register"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.ShoppingApp.NoActionBar"
            tools:targetApi="tiramisu" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Login.LoginActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ShoppingApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".StaffView.MyOrder.Activity.activity_MyOrder"
            android:exported="true" />
        <activity
            android:name=".StaffView.MyOrder.Home.activity_home"
            android:exported="true" />
        <activity
            android:name=".StaffView.MyOrder.Home.activity_List_Product_And_Item"
            android:exported="true" />
        <activity android:name=".customerview.activity.ReViewer"
            android:exported="true"/>
        <activity android:name=".StaffView.Home.home_page"
            android:exported="true"/>
        <activity android:name=".StaffView.ViewShop.activity_viewshop"
            android:exported="true"/>
    </application>

</manifest>